/**********HEADER*******/
header{
    height:130px;
    width: 100vw;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(232, 161, 54));
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
    display: flex;
}

.navbar .nav-links ul li a:hover{
    color: rgba(255, 0, 208, 0.265);
}
/*
.navbar .nav-links ul li a.btnConnection{
    cursor: pointer;
}

.navbar .nav-links ul li a.btnConnection ul.menuConnection{
    display: none;
    position: absolute;
}

.navbar .nav-links ul li a.btnConnection ul.menuConnection a{
    display: block;
}
*/
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}


@media screen and (max-width:900px){

    .navbar{
        padding: 0;
    }

    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
    .navbar .nav-links ul li a{
        color: black;
    }
}
