/*on reset tout*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

/************** Main **************/
main{
    background-color: #fff;
    flex-grow: 1;
}

form{
    text-align: center;
    padding: 30px;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #ccc;
    background: #dba93575;
    border-radius: 15px;
}

h2{ 
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 80%;
    padding: 10px;
    margin:10px auto;
}

label{
    color: #888;
    font-size: 1.5em;
    padding: 10px;
}

button{
    text-align: center;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

button:hover{
    opacity: 0.7;
}

p{
    padding: 15px 10px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }