/*on reset tout*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  html, body{
    height: 100%;
  }
  
  body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
  }
  
  /*reste de la page*/
  
  .titreTopic{
    color: white;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
  }
  
  .sous-titrePage{
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .full-topic, .message, #create-message{
    display: grid;
    place-items: center;
    width:80%;
    padding-top:1%;
    padding-bottom:1%;
    margin-left:10%;
    margin-bottom:1%;
    border-style:groove;
    border-width:thin;
    border-color: rgb(232, 161, 54);
  }
  
  .full-topic:hover, #create-message:hover, .message:hover{
    box-shadow: 20px 50px 100px rgb(255, 255, 255);
  }
  
  .full-topic{
  margin-top: 4%;
  margin-bottom: 2%;
  }
  
  .message-content{
  padding-top: 2%;
  padding-bottom: 3%;
  text-align:left;
  font-size: x-large;
  }
  
  .content{
    color: white;
    font-size: x-large;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  .bottom-full-topic, .message-header{
    display: grid;
    gap:400px;
  }
  
  .creator-topic{
    grid-row: 1;
  }
  .nb-answer-topic{
    grid-row: 1;
  
  }
  
  .message-creator{
  grid-row: 1;
  }
  .date-message{
  grid-row: 1;
  }
  
  .btn-modif{
        border: 4px solid #fff;
        border-radius: 10px;
        color: #fff;
        display: block;
        font-weight: bold;
        margin: 10px auto;
        padding: 10px 10px;
        text-transform: uppercase;
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(247 167 45));
        
  }
  
  .btn-modif:hover{
  color: rgba(255, 0, 208, 0.265);
  }
  
  .messageContent{
    font-size: 15px;
    margin-top: 2%;
    width:80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  label{
    color: #fff;
    margin-top: 1%;
  }

  div{
    color: white;
  }

  h1 {
    color: white;
  }

  #theme-button{
    text-align: center;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}