/*on reset tout*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body{
    height: 100%;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

/************** Main **************/
main{
    height: 100vh;
    width: 100vw;
    background-image: url('fond.jpg');
    background-size: cover;
    flex-grow: 1;
    display: flex;
}
/********FOOTER*******/
footer{
    background: linear-gradient(to left, rgb(224, 214, 174), rgb(232, 161, 54));
    padding: 20px;
}
