/*on reset tout*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body{
    height: 100%;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

/************** Main **************/
main{
    height: 70%;
    width: 100%;
    background-image: url('fond.jpg');
    background-size: cover;
    background-position: 0%;
    flex-grow: 1;
    display: flex;
}
button{
    text-align: center;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}
/********FOOTER*******/
footer{
    display: inline;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(232, 161, 54));
    padding: 20px;
}