/********FOOTER*******/
body{
    background-color: black;
}
footer{
    margin-top: 150px;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(232, 161, 54));
    padding: 20px;
}
#copyright{
    color: white;
}